.card {
    border-radius: 15px;
    transition: transform 0.3s ease-in-out;
    
}

.card:hover {
    transform: scale(1.05);
    background: linear-gradient(to right, #FFD700, #FFA500);

}

.card-img-top {
    width: 250px;  /* Cambiar el tamaño de la imagen */
    height: 250px; /* Cambiar el tamaño de la imagen */
    object-fit: cover; /* Mantiene la relación de aspecto */
    display: block;
    margin: 0 auto; /* Centra la imagen */
}